body {
  margin: 0;
}

main {
  position: absolute;
  margin-left: 374px;
  padding: 10px;
  background-color: darkgrey;
}

nav {
  width: 370px;
  height: 100vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  position: fixed;
}

nav > header {
  text-align: center;
}

.nav-link {
  font-size: 1.5em;
  text-decoration: none;
  background-color: whitesmoke;
  padding: 25px 10px;
}

.nav-link:not(:last-child) {
  border-bottom: 1px solid;
}

nav > a:link {
  color: black;
}

nav > a:visited {
  color: black;
}

code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

header {
  font-weight: bold;
  font-size: 2.5em;
  margin: 35px 0px 15px 0px;
}

p {
  font-size: 18px;
  margin-left: 15px;
}

li {
  font-size: 18px;
}

@media (max-width: 880px) {
  nav {
    width: auto;
    height: auto;
    position: relative;
  }

  main {
    margin-left: 0px;
  }

  .nav-link {
    font-size: 1.0em;
    padding: 15px 5px;
  }
}
