body {
  margin: 0;
}

main {
  position: absolute;
  margin-left: 374px;
  padding: 10px;
  background-color: darkgrey;
}

nav {
  width: 370px;
  height: 100vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
}

nav > header {
  text-align: center;
}

.nav-link {
  font-size: 1.5em;
  text-decoration: none;
  background-color: whitesmoke;
  padding: 25px 10px;
}

.nav-link:not(:last-child) {
  border-bottom: 1px solid;
}

nav > a:link {
  color: black;
}

nav > a:visited {
  color: black;
}

code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

header {
  font-weight: bold;
  font-size: 2.5em;
  margin: 35px 0px 15px 0px;
}

p {
  font-size: 18px;
  margin-left: 15px;
}

li {
  font-size: 18px;
}

@media (max-width: 880px) {
  nav {
    width: auto;
    height: auto;
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  main {
    margin-top: 305px;
  }

  nav > header {
    font-size: 2.0em;
    margin: 15px 0px 5px 0px;
  }

  main {
    margin-left: 0px;
  }

  .nav-link {
    font-size: 1.0em;
    padding: 15px 5px;
  }

  .arrows {
    display: block !important;
  }

  section::before {
    display: block;
    content: " "; 
    margin-top: -305px; 
    height: 305px; 
    visibility: hidden; 
    pointer-events: none;
  }
}

@media (min-width: 881px) {
  nav > a {
    display: block !important;
  }

  main {
    margin-top: 0px !important;
  }
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow:hover {
  cursor: pointer;
}

.arrows {
  float: right;
  margin-right: 10px;
  display: none;
}

.hidden-elem {
  display: none;
}
